.header__link{
    font-size: 16px;
    color: var(--gray);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}


.header__link:hover{
    color: var(--blue);
    transition: all 0.5s ease;
}

