.layout{
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: url('./layoutImg/layout_background.png');
    background-repeat: repeat;
    background-color: #0c0c0c;
}


.layout__inner{
    display: flex;
    justify-content: space-between;
}


.layout__inner__desc{
    width: 210px;
}


.layout__inner__desc__title{
    width: 151px;
    height: 26px;
    margin-top: 4px;
    transition: all 0.5s ease;
    cursor: pointer;
}


.layout__inner__desc__txt{
    margin-top: 46px;
    color: #808080;
    font-size: 14px;
    line-height: 200%;
}


