:root {
    --blue: #20d8da;
    --white: #fff;
    --gray: #545454;
    --light-gray: #747373; 
    --black: #000; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 1px;
    font-family: "Open Sans", sans-serif;

}

.container{
    width: 1110px;
    max-width: 95%;
    margin: 0 auto;
}