.header{
    margin-top: 21.5px;
}


.header__intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__intro__logo{
    width: 151px;
    height: 25px;
}


.header__intro__tools{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.header__inner{
    margin-top: 41.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__inner__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;

}


.header__inner__nav__item__img{
    margin-left: 7px;
    width: 12px;
    height: 12px;
    margin-top: 3px;
}


.header__inner__media{
    display: flex;
    justify-content: space-between;
    width: 271px;
    align-items: center;
}


