.option__item{
    font-size: 18px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray);
    margin: 0 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.option__item.active{
    color: #383838;
    border-bottom: 2px solid var(--blue);
    transition: color 0.3s ease;
}