.footer{
    padding: 15px;
    background-color: #060606;
    height: 80px;
    align-items: center;
    display: flex;
}


.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__inner__title{
    width: auto;
    font-size: 12px;
    color: #666666;
    transition: all 0.4s ease;
    cursor: pointer;
}

.footer__inner__title:hover{
    transition: all 0.4s ease;
    color: var(--blue);
}


.footer__inner__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 530px;
    font-size: 14px;
    color: #545454;
    text-decoration: none;
    transition: all 0.4s ease;
}

.footer__inner__links__item{
    cursor: pointer;
}

.footer__inner__links__item:hover{
    color: var(--blue);
    transition: all 0.4s ease;
}